@{
    ViewData["Title"] = "Home Page";
}

@model IndexViewModel

<div class="first-five row w-100">
    <div class="big-one col-6">
        @await Html.PartialAsync(@"PostPartials/PostPartial", Model.ActualPosts.First())
    </div>
    <div class="lil-news-columns">
        @foreach (var item in Model.ActualPosts.Skip(1))
        {
            <div class="d-inline-block col-6">
                @await Html.PartialAsync(@"PostPartials/PostPartial", item)
            </div>
        }
    </div>
    @await Component.InvokeAsync("PopularPosts")
    <div class="latest-news">
        <div class="head-devider">
            <h2 class="popular_news_head pb-0">
                Latest News
            </h2>
        </div>
        @foreach (var item in Model.LatestPosts)
        {
            <div class="latest-news-content">
                @await Html.PartialAsync(@"PostPartials/PostWithDescriptionAndCommentPartial", item)
            </div>
        }
    </div>
    <div class="world-news">
        <div class="head-devider">
            <h2 class="popular_news_head pb-0">
                World news
            </h2>
        </div>
        <form class="world-news-content">
            <div class="unit">
                <div class="img">
                    <div class="" style="position: relative; top: 20px;">
                        <ul class="badge-ul">
                            <li class="badge-li">
                                <a class="badge-a" href="#">
                                    <span class="badge-span">@Model.WorldPosts.First().Category.First().Name</span>
                                </a>
                            </li>
                        </ul>
                        <img class="center" src="@Model.WorldPosts.First().Photos.First().Patch" style="width: 400px; margin-bottom: 30px;">
                    </div>
                </div>
                <div class="text-block col-6">
                    <a class="news_name h4" href="#">
                        @Model.WorldPosts.First().Name
                    </a>
                    <div class="row d-flex flex-row" style="margin-top: 30px; margin-left: 3px; width: 70%;">
                        <p style="width: max-content; padding:0; color: black; font-family: 'Noto Serif'; font-style: italic; font-size: 17px;">
                            <div class="under_description" style="width: max-content; margin-top: 2px; left: 5px;">
                                <div>
                                    <a class="post-meta-time_desc" href="#">
                                        <time class="desc-time" datetime="2020-06-06">@Model.WorldPosts.First().Date</time>
                                    </a>
                                </div>
                            </div>
                            <div style="width: max-content; margin-top: -2px;">
                                <a class="post-meta-comment" href="#">
                                    @Model.WorldPosts.First().Comments.Count
                                </a>
                            </div>
                    </div>
                    <p class="description" style="width: 500px; height: auto; word-wrap: break-word;">
                        @Model.WorldPosts.First().Content.Substring(0, Model.WorldPosts.First().Content.IndexOf('.') + 1)
                    </p>
                    <div class="d-flex flex-row" style="margin-top: 40px; width: 50%;">
                        <a class="btn btn-warning">Read more</a>
                    </div>
                </div>
            </div>
            <div class="devider-dashed" style="width: 100%; margin: 35px;"></div>
            @foreach (var item in Model.WorldPosts.Skip(1).Take(2))
            {
                <div class="row">
                    @await Html.PartialAsync(@"PostPartials/PostWithDescriptionAndCommentPartial", item)

                </div>
            }
        </form>
    </div>
</div>
