@using Domain.Models.News

@model KeyValuePair<string, List<Post>>


<div class="row d-flex justify-content-center">
    @foreach (var post in Model.Value.Take(2))
    {
        <div class="d-inline-block col-4" style="position: relative; top: 20px;">
            <img src="@post.Photos.First().Patch" style="height: 300px;">
            <div class="caption">
                <ul class="badge-ul">
                    <li class="badge-li">
                        <a class="badge-a" href="#">
                            <span class="badge-span">@post.Category.First().Name</span>
                        </a>
                    </li>
                </ul>
                <div class="h4 h4_custom">
                    <a class="a4_custom" href="#">
                        @post.Name
                    </a>
                </div>
                <div class="under_h4">
                    <div>
                        <a class="post-meta-time" href="#">
                            <time datetime="2020-06-06">@post.Date</time>
                        </a>
                    </div>
                </div>
            </div>
            <div class="devider-dashed"></div>
        </div>
    }
    @foreach (var post in Model.Value.Skip(2))
    {
        <div class="row" style="width: 450px; margin-bottom: 30px;">
            <img class="col-7" src="@post.Photos.First().Patch" style="height: 200px;">
            <div class="col-5">
                <a class="news_name" href="#">
                    @post.Name
                </a>
                <br>
                <p class="description">
                    @post.Content.Substring(0, post.Content.IndexOf('.') + 1)

                </p>
                <div class="under_description">
                    <div>
                        <a class="post-meta-time_desc" href="#">
                            <time class="desc-time" datetime="2020-06-06">@post.Date</time>
                        </a>
                    </div>
                </div>
            </div>
            <div class="devider-dashed" style="margin-top: 30px; width: 80%; margin-left: 25px;"></div>
        </div>
    }
</div>